.sectionProjects {
     width: 100%;
     padding: 15px;
     display: flex;
     flex-direction: column;
     padding-top: 30px;
     /* padding-top: 11vh; */

     @media (min-width: 900px) {
          width: 90%;
     }

     @media ( min-width: 1250px ) {
          padding-top: 45px;
     }
}

.sectionProjectsH {
     font-size: 32px;
     margin: 0;
     color: rgb(241, 221, 255);

     @media (min-width: 550px) {
          font-size: 35px;
     }
/*      
     @media( min-width: 900px ) {
          margin-left: 5vw;
     } */

}