.sliderContentMajor {
     width: 100%;
     height: auto;
     overflow: hidden;
     align-self: center;
     margin: 10px 0;
     display: flex;
     flex-direction: column;
}


.sliderContentDivs {
     display: flex;
     -webkit-animation: scroll 10s linear infinite;
     animation: scroll 15s linear infinite;
     /* width: 1000px; */
     flex-wrap: nowrap;
     gap: 20px;
     margin: 8px 0;

     @media( min-width: 1250px ) {
          gap: 25px;
     }
}

.sliderContentDivs:hover {
     @media (hover: hover) and (pointer: fine) {
          animation-play-state: paused;
     }
}

.sliderContentMajor span {
     /* width: fit-content; */
     align-self: end;
     /* justify-self: end; */
}
.divSlideCarousel {
     display: flex;
     border: 3.2px solid  rgb(138, 47, 199);
     flex-direction: column;
     border-radius: 10px;
     transition-duration: 1.5s;
}
/* <h2 style={{ fontSize: '30px', margin: '20px 0', textAlign: 'center' }}>{ project.name }</h2> */
.divSlideCarouselH {
     font-size: 27px;
     text-align: center;
     border-top: 3.2px solid  rgb(138, 47, 199);
     padding: 5px 0;
     @media (min-width: 900px) {
          font-size: 30px;
     }
}

.divSlideCarouselImage {
     width: 200px;
     aspect-ratio: 1 /1;
     object-fit: cover;
     border-radius: 10px 10px 0 0;

     @media (min-width: 900px) {
          width: 250px;
     }

     @media (min-width: 1250px) {
          width: 300px;
     }

}

@keyframes scroll {
     0% {
          -webkit-animation: translateX(0);
          transform: translateX(0);
     }
     100% {
          -webkit-animation: translateX(calc( -220px * 3));
          transform: translateX(calc( -220px * 3));
     }
}

@media ( min-width: 900px ) {
     @keyframes scroll {
          0% {
               -webkit-animation: translateX(0);
               transform: translateX(0);
          }
          100% {
               -webkit-animation: translateX(calc( -270px * 3));
               transform: translateX(calc( -270px * 3));
          }
     }
}

@media ( min-width: 1250px ) {
     @keyframes scroll {
          0% {
               -webkit-animation: translateX(0);
               transform: translateX(0);
          }
          100% {
               -webkit-animation: translateX(calc( -325px * 3));
               transform: translateX(calc( -325px * 3));
          }
     }
}
