.sliderContentMajor {
     width: 90%;
     height: auto;
     overflow: hidden;
     align-self: center;
}


.sliderContentDivs {
     display: flex;
     -webkit-animation: scroll 10s linear infinite;
     animation: scroll 10s linear infinite;
     /* width: 1000px; */
     flex-wrap: nowrap;
     gap: 20px;
     margin: 40px 0;

     @media( min-width: 1250px ) {
          gap: 25px;
     }
}

.sliderContentDivs:hover {
     animation-play-state: paused;
}

.divSlideCarousel {
     display: flex;
     background-color:  rgb(109, 6, 182);
     flex-direction: column;
     border-radius: 10px;
     transition-duration: 1.5s;
}
/* <h2 style={{ fontSize: '30px', margin: '20px 0', textAlign: 'center' }}>{ project.name }</h2> */
.divSlideCarouselH {
     font-size: 27px;
     margin: 8px 0;
     text-align: center;

     @media (min-width: 900px) {
          font-size: 30px;
          margin: 10px 0;
     }

     @media (min-width: 1250px) {
          margin: 20px 0;
     }
}

.divSlideCarouselImage {
     width: 200px;
     aspect-ratio: 1 /1;
     object-fit: cover;
     border-radius: 10px 10px 0 0;

     @media (min-width: 900px) {
          width: 250px;
     }

     @media (min-width: 1250px) {
          width: 300px;
     }

}

@keyframes scroll {
     0% {
          -webkit-animation: translateX(0);
          transform: translateX(0);
     }
     100% {
          -webkit-animation: translateX(calc( -220px * 4));
          transform: translateX(calc( -220px * 4));
     }
}

@media ( min-width: 900px ) {
     @keyframes scroll {
          0% {
               -webkit-animation: translateX(0);
               transform: translateX(0);
          }
          100% {
               -webkit-animation: translateX(calc( -270px * 4));
               transform: translateX(calc( -270px * 4));
          }
     }
}

@media ( min-width: 1250px ) {
     @keyframes scroll {
          0% {
               -webkit-animation: translateX(0);
               transform: translateX(0);
          }
          100% {
               -webkit-animation: translateX(calc( -325px * 3));
               transform: translateX(calc( -325px * 3));
          }
     }
}
