
.contentPortfolio {
     display: flex;
     flex-direction: column;
     width: 100%;
     max-width: 1250px;
     align-items: center;
     margin: 0;
     padding: 20px 0;
     /* margin: 50px; */
}
