.sectionSkills {
     /* background-color: rgb(255, 142, 3); */
     width: 100%;
     padding: 15px;
     @media (min-width: 900px) {
          width: 90%;
     }

     display: flex;
     flex-direction: column;
     align-content: center;
     gap: 20px;
}

.sectionSkills h2 {
     font-size: 32px;
     color: rgb(241, 221, 255);

     @media (min-width: 550px) {
          font-size: 35px;
     }

}

.tecnologies-content {
     display: flex;
     gap: 10px;
     width: 100%;
     flex-wrap: wrap;
     padding: 10px 0;
     justify-content: start;
     align-self: center;
     @media (min-width: 900px) {
     gap: 10px;     
}

}
.tecnologies-content-language {
     display: flex;
     gap: 10px;
     width: 100%;
     flex-wrap: wrap;
     /* padding: 15px 0; */
     justify-content: start;
     align-self: center;
     @media (min-width: 900px) {
          gap: 10px;     
}

}
.tecnologies-content-language div {
     width: 75px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 5px;

     @media (min-width: 550px) {
          width: 120px;
     }


}

.tecnologies-content-language div i {
     font-size: 40px;
     color: rgb(241, 221, 255);

     @media (min-width: 550px) {
          font-size: 55px;
     }

     @media (min-width: 900px) {
          font-size: 60px;
     }
}

.tecnologies-content-language div p {
     font-size: 15px;
     font-weight: 600;
     color: rgb(241, 221, 255);
     text-align: center;
     margin: 0;

     @media (min-width: 550px) {
          font-size: 23px;
     }
}

.tecnologies-content div {
     width: 70px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 5px;

     @media (min-width: 550px) {
          width: 100px;
     }


}

.tecnologies-content div i {
     font-size: 40px;
     color: rgb(241, 221, 255);

     @media (min-width: 550px) {
          font-size: 45px;
     }

     @media (min-width: 900px) {
          font-size: 58px;
     }
}

.tecnologies-content div p {
     font-weight: 600;
     font-size: 15px;
     color: rgb(241, 221, 255);
     text-align: center;
     margin: 0;

     @media (min-width: 550px) {
          font-size: 20px;
     }
}

.sectionStack {
     /* width: 100%; */
     display: flex;
     flex-direction: column;
     border: 1px solid rgb(241, 221, 255);
     padding: 5px 10px;
     border-radius: 5px;

}

.sectionStack h3 {
     font-size: 25px;
     color: rgb(241, 221, 255);
     text-align: start;
     margin: 5px 0px;
}