
/* .navBar {
     position: sticky;
     top: 0;
     left: 0;
     display: flex;
     width: 100%;
     padding: 5px;
     height: 10vh;
     background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(57, 29, 75), rgb(106, 50, 141), rgb(138, 47, 199), rgb(165, 43, 246), rgb(165, 43, 246), rgb(165, 43, 246));
     border-radius: 0 0 10px 10px;
     z-index: 1;
     align-items: center;
     justify-content: space-between;


     animation: setNavBar 1.2s;
     @media (min-width: 900px) {
          height: 20vh;
     }
} */

.navBarScroll {
     position: sticky;
     top: 0;
     left: 0;
     display: flex;
     width: 100%;
     padding: 5px;
     height: 10vh;
     background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(57, 29, 75), rgb(106, 50, 141), rgb(138, 47, 199), rgb(165, 43, 246), rgb(165, 43, 246), rgb(165, 43, 246));
     border-radius: 0 0 0 10px;
     z-index: 1;
     align-items: center;
     justify-content: space-between;

     @media (min-width: 900px) {
          height: 20vh;
          animation: progressBar auto linear both;
          animation-timeline: scroll(root);
          animation-range: 0 300px;
     }
}

@media (min-width:900px) {
     @keyframes progressBar {
          to {
               height: 10vh;
          }
     }
}

/* @keyframes setNavBar {
     from {
          -webkit-animation: translateY(-60px);
          transform: translateY(-60px);
          opacity: 0.2;
          border-radius: 0;
     }
     70% {
          -webkit-animation: translateY(10px);
          transform: translateY(10px);
          opacity: 0.7;
     }
     100% {
          -webkit-animation: translateY(0);
          transform: translateY(0);
          opacity: 1;
          border-radius: 0 0 10px 10px;
     }
} */

.openMenu {
     font-size: 45px;
     margin: 0  15px;
     @media (min-width:550px) {
          display: none;
     }
     /* visibility: hidden; */
}

.sectionLinks {
     display: flex;

     @media ( max-width: 549px ){
          flex-direction: column;
          background-color: rgb(191, 122, 255, 0.5);
          gap: 7px;
          position: absolute;
          right: 0;
          top: 10vh;
          padding: 10px;
          border-radius: 0 0 0 10px;
          animation: setLinks 0.8s;
     }

     @media (min-width: 550px) {
          gap: 10px;
          padding-right:15px;
          flex-direction: row;
     }

     @media (min-width: 900px) {
          gap: 20px;
          padding-right: 25px;

     }

     @media (min-width: 1250px) {
          gap: 25px;
          padding-right: 35px;

     }
}

@keyframes setLinks {
     from {
          -webkit-animation: translateY(-60px);
          transform: translateY(-60px);
          opacity: 0.2;
     }
     60% {
          -webkit-animation: translateY(10px);
          transform: translateY(10px);
          opacity: 0.7;
     }
     100% {
          -webkit-animation: translateY(0);
          transform: translateY(0);
          opacity: 1;
     }
}

.sectionLinks a {
     text-decoration: none;
     color: rgb(255, 255, 255);
     font-size: 17px;
     width: fit-content;

     @media (min-width: 550px) {
          font-size: 20px;
     }

     @media (min-width: 900px) {
          font-size: 30px;
     }

     @media (min-width: 1250px) {
          font-size: 37px;
     }

     animation: progressA auto linear both;
     animation-timeline: scroll(root);
     animation-range: 0 200px;

     &:hover {
          cursor: pointer;
     }
}

/* @keyframes progressA {
     to {
          font-size: 17px;
     }
} */
/* 
@media ( min-width: 550px ) {
     @keyframes progressA {
          to {
               font-size: 20px;          
          }
     }
} */

@media ( min-width: 900px ) {
     @keyframes progressA {
          to {
               font-size: 22px;          
          }
     }
}

@media ( min-width: 1250px ) {
     @keyframes progressA {
          to {
               font-size: 27px;          
          }
     }
}

.logoContent {
     margin-left: 15px;
     border-radius: 50%;
     @media ( min-width: 900px ) {
          margin-left: 30px;
     }
     @media ( min-width: 1250px ) {
          margin-left: 40px;
     }
}


.logoImage{
     height: 9vh;
     /* margin-left: 10px; */
     border-radius: 50%;

     @media ( min-width: 900px ) {
          height: 16vh;
     }
     
     @media ( min-width: 1250px ) {
          height: 17vh;
     }

     animation: progressLogoImage auto linear both;
     animation-timeline: scroll(root);
     animation-range: 0 200px;
}
/* 
@keyframes progressLogoImage {
     to {
          height: 40px;
     }
} */

@media ( min-width: 900px ) {
     @keyframes progressLogoImage {
          to {
               height: 9vh;
          }
     }
}

@media ( min-width: 1250px ) {
     @keyframes progressLogoImage {
          to {
               height: 9vh;
          }
     }
}



