 footer {
     
     width: 100%;
     display: flex;
     background-color: rgb(106, 50, 141);
     padding: 20px;
     justify-content: center;
     gap: 50px;
}

footer section a {
     text-decoration: none;
     display: flex;
     align-items: center;
     height: fit-content;
     color: aliceblue;
}

footer section {
     display: flex;
     flex-direction: column;
}

footer section div {
     display: flex;
     gap: 10px;

     & p {
          margin: 0;
     }
}

footer section i {
     font-size: 35px;
     color: white;
     transition-duration: .5s;


     @media (min-width: 900px) {
          font-size: 35px;
     }

     &:hover{
          scale: 1.3;
     }
}