.sectionWorkExp {
     width: 100%;
     display: flex;
     flex-direction: column;
     padding: 45px 15px 0;
     gap: 15px;

     /* justify-content: center;
     align-items: center; */

     @media (min-width: 900px) {
          width: 90%;
     }
}
/* style={{ fontSize: '35px', margin: '0', color: 'rgb(241, 221, 255)' }}> */

.sectionWorkExp h2 {
     font-size: 32px;
     /* margin: 15px; */
     color: rgb(241, 221, 255);
     @media (min-width: 550px) {
          font-size: 35px;
     }
     
}
.sectionWorkExp h3 {
     font-size: 32px;
     /* margin: 15px; */
     color: rgb(255, 255, 255);
     @media (min-width: 550px) {
          font-size: 34px;
     }
     
}

/* style={{ padding: '50px 0', display:'grid', gridTemplateColumns: 'repeat(3, 1fr)' }} */
.divInfoExperience {
     padding-top: 10px;
     width: 100%;
     display: grid;
     align-self: center;
     /* padding: 0 35px; */
     
     @media (min-width: 850px) {
          grid-template-columns: 350px 1fr;
          /* padding: 10px 0;           */
     }
}

.divInfoExperience img {
     width: 90%;
     max-width: 380px;
     padding: 20px 0;

     /* max-width: 350px; */
}

/* style={{ gridColumnStart: '2', gridColumnEnd: '4', }} */
.divInfoExperienceText {
     @media (min-width: 850px) {
          grid-column-start: 2;
          grid-column-end: 4;
          padding: 0 15px;
     }
}

.divInfoExperienceText h3 {
     font-size: 25px;
     padding: 12px 0;
     margin: 0;
     color: rgb(234, 205, 255);

     @media (min-width: 550px) {
          font-size: 30px;
     }

     /* @media (min-width: 1250px) {
          font-size: 35px;
     } */
}

.divInfoExperienceText p {
     font-size: 20px;
     margin: 0;
     color: rgb(234, 205, 255);

     @media (min-width: 550px) {
          font-size: 23px;
     }

     @media (min-width: 850px) {
          font-size: 26px;
     }

     /* @media (min-width: 1250px) {
          font-size: 30px;
     } */
}