
.modal-container {
     position: absolute;
     top: 0;
     left: 0;
     width: 100vw;
     /* height: 2000px; */
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: rgba(79, 79, 79, 0.6);
     z-index: 1;
     /* animation: modalCreciente .5s; */
}

.modal-content {
     position: fixed;
     top: 3%;
     width: 90%;
     max-width: 850px;
     height: 97vh;
     border-radius: 15px;
     background: linear-gradient(to right, rgb(66, 9, 106), rgb(132, 30, 199));     z-index: 10;
     animation: modalCreciente 1s;
     /* animation-delay: .5s; */

     @media (min-width: 550px) {
          height: 94vh;
     }

}

.closeButton {
     position: absolute;
     top: 5px;
     right: 5px;
     font-size: 30px;
     /* background-color: rgba(255, 0, 93, 0.3); */
     border: none;
     color: rgba(230, 17, 17, .6);
     cursor: pointer;
     border-radius: 50%;
     padding: 5px;

     @media (min-width: 550px) {
          font-size: 42px;
     }
}

@keyframes modalCreciente {
     0% {
          scale: 0.1
     }
     100% {
          scale: 1
     }
}

.modal-content-data {
     display: grid;
     width: 100%;
     height: 47vh;
     overflow: auto;
     grid-template-columns: repeat( 3, minmax(110px, 1fr));
}

.modal-content-data h2 {
     grid-column-start: 1;
     grid-column-end: 3;
     padding: 5px 15px;
     align-self: center;
     font-size: 20px;
     margin: 0;

     @media (min-width: 550px) {
          font-size: 30px;
     }

     @media (min-width: 800px) {
          font-size: 35px;
          padding: 15px 20px;
     }

}

.modal-content-data p {
     grid-column-start: 1;
     grid-column-end: -1;
     margin: 0;
     padding: 10px 15px;
     font-size: 16px;

     @media (min-width: 550px) {
          font-size: 18px;
          padding: 5px 15px;
     }

     @media (min-width: 800px) {
          font-size: 20px;
          padding: 10px 20px;
     }

     @media (min-width: 1250px) {
          font-size: 22px;
     }
}

.tecnologiesUsed {
     grid-column-start: 1;
     grid-column-end: -1;
     /* width: 100%; */
     display: flex;
     flex-direction: column;
     padding: 5px 15px;

     @media (min-width: 550px) {
          margin-top: 10px;
     }

}

.tecnologiesUsed h3 {
     font-size: 15px;
     margin: 0;

     @media (min-width: 550px) {
          font-size: 20px;
     }
     
     @media (min-width: 1250px) {
          font-size: 25px;
     }
}

.allTecnologiesContent {
     display: flex;
     padding: 0;
     flex-wrap: wrap;
     padding-top: 10px;
     gap: 5px;

     @media (min-width: 800px) {
          gap: 15px;
     }

}

.divTecnology {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     width: 67px;
     padding: 0;
}
.modal-content-data-github {
     display: flex;
     justify-items: end;
     justify-content: end;
}

.modal-content-data-github a {
     text-decoration: none;
     margin: 5px 15px 0 0;

     @media (min-width: 550px) {
          margin: 5px 15px 0 0;
     }

     @media (min-width: 1250px) {
          margin: 10px 20px 0 0;
     }
}

.devicon-github-original {
     font-size: 50px;
     color: white;
     height: fit-content;

     @media (min-width: 550px) {
          font-size: 60px;
     }
     @media (min-width: 800px) {
          font-size: 75px;
     }
}

.divTecnology i {
     font-size: 22px;
     color: white;

     @media (min-width: 800px) {
          font-size: 40px;
     }
}
.divTecnology p {
     font-size: 15px;
     padding: 5px 10px;

     @media (min-width: 800px) {
          font-size: 20px;
     }
}

