
.modal-container {
     position: absolute;
     top: 0;
     left: 0;
     width: 100vw;
     /* height: 2000px; */
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: rgba(79, 79, 79, 0.6);
     z-index: 1;
     /* animation: modalCreciente .5s; */
}

.modal-content {
     position: fixed;
     top: 3%;
     width: 90%;
     max-width: 850px;
     height: 94vh;
     border-radius: 15px;
     background: linear-gradient(to right, rgb(66, 9, 106), rgb(132, 30, 199));     z-index: 10;
     animation: modalCreciente 1s;
     /* animation-delay: .5s; */
/* 
     @media (min-width: 550px) {
          height: 94vh;
     } */

}

.closeButton {
     position: absolute;
     top: 5px;
     right: 5px;
     font-size: 30px;
     /* background-color: rgba(255, 0, 93, 0.3); */
     border: none;
     color: rgba(230, 17, 17, .6);
     cursor: pointer;
     border-radius: 50%;
     padding: 5px;
     z-index: 3;

     @media (min-width: 550px) {
          font-size: 42px;
     }
}

@keyframes modalCreciente {
     0% {
          scale: 0.1
     }
     100% {
          scale: 1
     }
}

/* .modal-contentSlider {

} */

.modal-content-data {
     display: flex;
     flex-direction: column;
     width: 100%;
     height: 47vh;
     overflow-y: auto;
}

.modal-content-data p {
     margin: 0;
     padding: 10px 15px;
     font-size: 2.5vh;

     /* @media (min-width: 550px) {
          font-size: 18px;
          padding: 5px 15px;
     }

     @media (min-width: 800px) {
          font-size: 20px;
          padding: 10px 20px;
     } */

     @media (min-width: 1250px) {
          font-size: 22px;
     }
}

.tecnologiesUsed {
     display: flex;
     flex-direction: column;
     padding: 5px 10px;

     @media (min-width: 550px) {
          margin-top: 10px;
     }

}

.tecnologiesUsed h3 {
     font-size: 2.7vh;
     margin: 0;
     margin-bottom: 1vh;

     @media (min-width: 550px) {
          font-size: 3.2vh;
     }
     
     /* @media (min-width: 1250px) {
          font-size: 25px;
     } */
}

.allTecnologiesContent {
     display: flex;
     padding: 0;
     flex-wrap: wrap;
     padding-top: 10px;
     gap: 5px;
     
     @media (min-width: 800px) {
          gap: 15px;
     }
     
}

.divTecnology {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     /* background-color: bisque; */
     /* width: 67px; */
     /* aspect-ratio: 1 / 1 ; */
     /* height: 9vh; */
     height: fit-content;
     padding: 0;
}

.modal-content-data-github {
     display: flex;
     /* justify-items: ; */
     justify-content: space-between ;
     padding: 10px;
     padding-right: 20px;
}

.modal-content-data-github h2 {
     /* padding: 5px 10px; */
     align-self: center;
     font-size: 3.2vh;
     margin: 0;

     @media (min-width: 550px) {
          font-size: 4vh;
     }

}

.modal-content-data-github a {
     text-decoration: none;

}

.modal-content-data .devicon-github-original {
     font-size: 11vw;
     color: white;
     height: fit-content;

     @media (min-width: 700px) {
          font-size: 60px;
     }
}

.links-content-modal {
     display: flex;
     gap: 10px;
}

.divTecnology i {
     font-size: 5vh;
     color: white;

     /* @media (min-width: 800px) {
          font-size: 40px;
     } */
}

.link-icon {
     font-size: 10vw;
     color: white;

     @media (min-width: 700px) {
          font-size: 55px;
     }
}
.divTecnology p {
     font-size: 15px;
     padding: 5px 10px;

     @media (min-width: 800px) {
          font-size: 25px;
     }
}

