.sectionAboutMe {
     /* background-color: bisque; */
     width: 100%;
     /* height: 400px; */
     padding: 50px;
     padding-bottom: 0px;
     display: grid;
     grid-template-columns: repeat( 5, 1fr);
     animation: progressAboutme auto linear both;
     animation-timeline: scroll(root);
     animation-range: 0 200px;
}

@keyframes progressAboutme {
     to {
          padding-top: 200px;
     }
}

.divDescription {
     /* background-color: blueviolet; */
     grid-column-start: 1;
     grid-column-end: 4;
     padding: 30px;
     padding-left: 0;
     display: flex;
     justify-content: center;
     flex-direction: column;
}
.divDescription h1 {
     font-size: 40px;
     margin: 0;
}

.divDescription h2 {
     font-size: 30px;
     margin: 0;
}

.divDescription p {
     font-size: 23px;
}

.divImagePerfil {
     /* background-color:aquamarine; */
     grid-column-start: 4;
     grid-column-end: 6;
     padding: 10px;
     display: flex;
     justify-content: center;
     align-items: center;
}

.profileImage {
     width: 100%;
     max-width: 500px;
     aspect-ratio: 1 /1 ;
     place-self: center;
     border-radius: 50%;
}