.sectionAboutMe {
     width: 100%;
     padding: 0px;
     display: grid;
     @media (min-width: 900px) {
     grid-template-columns: minmax(550px, 1fr) minmax(350px, 1fr);
     }
     @media (min-width: 1250px) {
          width: 90%;
          grid-template-columns: repeat( 5, 1fr);
     }
     animation: progressAboutme auto linear both;
     animation-timeline: scroll(root);
     animation-range: 0 200px;
}

@keyframes progressAboutme {
     to {
          padding-top: 200px;
     }
}

.divDescription {
     padding: 15px;
     display: flex;
     justify-content: center;
     flex-direction: column;

     @media ( min-width: 900px ) {
          padding: 30px 0;
          padding-left: 7vw;
     }

     @media ( min-width: 1250px ) {
          padding: 30px;
          grid-column-start: 1;
          grid-column-end: 4;
     }
}
.divDescription h1 {
     font-size: 40px;
     margin: 0;
     color: rgb(241, 221, 255);

     @media( min-width: 900px ) {
          font-size: 45px;
     }
}

.divDescription h2 {
     font-size: 25px;
     margin: 0;
     color: rgb(200, 132, 248);

     @media( min-width: 900px ) {
          font-size: 30px;
     }

}

.divDescription p {
     font-size: 20px;
     color: rgb(234, 205, 255);

     @media( min-width: 900px ) {
          font-size: 23px;
     }
}

.divImagePerfil {
     /* background-color:aquamarine; */
     /* grid-column-start: 4;
     grid-column-end: 6; */
     grid-row-start: 1;
     padding: 10px;
     display: flex;
     justify-items: center;
     justify-content: center;
     align-items: center;

     @media( min-width: 900px ) {
          grid-column-start: 2;
     }

     @media ( min-width: 1250px ) {
          grid-column-start: 4;
          grid-column-end: 6;
     }
}

.profileImage {
     width: 100%;
     max-width: 350px;
     aspect-ratio: 1 /1 ;
     place-self: center;
     border-radius: 50%;

     @media( min-width: 900px ) {
          max-width: 450px;
     }

     @media ( min-width: 1250px ) {
          max-width: 500px;
     }
}